.vs/
*.user
*.suo
*.sln.docstates

**/x64/
**/Debug/
**/Release/

/x64/
/Debug/
/Release/
bin/
obj/

*.exe
*.dll
*.lib
*.pdb
*.exp
*.ilk
*.recipe
*.log
*.tlog
*.lastbuildstate
*.idb
*.obj
*.iobj
*.ipdb

!*.slnx
